
.flex-container {
    display: flex;
    flex-direction: row;

}

.flex-child {
    flex: 1;
    border: 2px solid yellow;
}  

.MySQL {
    height: 600px;
    width: 500px;
    background-image: url("../images/WM-Portfolio-MySQL-Photo.jpg"); 
}

.MongoDB {
    height: 600px;
    width: 500px;

    background-image: url("../images/WM-Portfolio-MongoDB-Photo.png"); 
}

.JavaScript {
    height: 600px;
    width: 500px;

    background-image: url("../images/WM-Portfolio-JavaScript-Photo.jpg"); 
}

.Bootstrap {
    height: 600px;
    width: 500px;

    background-image: url("../images/WM-Portfolio-Bootstrap-Photo.png"); 
}

.image-link {
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
    }