/* Element selectors */
/* body element selector */
body {
    background-color: blue; /* change later */
}

a {
    color: black;
    text-decoration: none;
}

p {
    font-size: 16px;
}



header h1 {
    display: inline-block;
}

header section {
    display: inline-block;
    float: right; 
}


header section ul {
    list-style-type: none;
}
  
 /* List Item element within Unordered List List Item element selector. Replaced div with section to make semantic */
header section ul li {
    display: inline-block;
    margin-left: 60px; 
}

ul {
    list-style-type: none;
}

li { 
    display: inline-block;
 }
  

header section nav a:hover {
    color: #ff0000; /* Change color on hover */
  }



